.button {
  width: 100%;
  border: none;
  padding: .9rem;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--secondary);
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-hover);
}

.button span {
  font-size: 1rem;
}